@model ASM.Models.Category;
<div class="row text-center">
    <div class="col">
        @if (TempData["Message"] != null)
        {
            <h5 class="alert alert-info"> @TempData["Message"] </h5>
        }
        <form method="post" asp-controller="Category" asp-action="SearchBook" class="form-inline">
            <div class="form-group">
                <input type="search" name="keyword" class="form-control" placeholder="Search" style="transform: translateX(200%) translateY(100%)" />
            </div>
        </form>
        <table class="table-bordered bg-light">
            <tr>
                <th colspan="2" class="h3 text-primary">@Model.CategoryName</th>
            </tr>
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td>
                        <img src="@book.Image" width="400" height="400">
                    </td>
                    <td>
                        <a asp-controller="Book" asp-action="Detail" asp-route-id="@book.Id">@book.Title</a>
                    </td>
                    <td>
                        @book.ISBN
                    </td>
                    <td>
                        @book.Author
                    </td>
                </tr>
            }
        </table>
    </div>
</div>