@model List<Book>
@*<div class="row text-center">
    <div class="col">
        <img src="@Model.Image" width="400" height="400">
    </div>
    <div class="col">
        <table class="table-bordered bg-light">
            <tr>
                <th colspan="2" class="h3 text-primary">@Model.Title</th>
            </tr>
            <tr>
                <th>Publication Date</th>
                <td>@Model.PublicationDate.ToShortDateString()</td>
            </tr>
            <tr>
                <th>ISBN</th>
                <td>@Model.ISBN</td>
            </tr>
            <tr>
                <th>Publisher</th>
                <td>@Model.Publisher</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>@Model.Author</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>
                    <a asp-controller="Category" asp-action="Detail" asp-route-id="@Model.Category.Id">
                        @Model.Category.CategoryName
                    </a>
                </td>
            </tr>
            <tr>
                <th>Order</th>
                <td>
                    <a asp-controller="Book" asp-action="Cart"class="btn btn-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                </td>
            </tr>
        </table>
    </div>
</div>*@

<div class="card-group">
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-3">
                <img src="@book.Image" width="100" height="100"> <br>
                Name: @book.Title <br>
                <form method="post" asp-controller="Order" asp-action="MakeOrder">
                    <input type="hidden" name="book" value="@book.Id">
@*                    <input type="number" name="quantity" min="1" max="@book.Quantity"><br>*@
                    <input type="submit" value="Order">
                </form>
            </div>
        }
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
   }