@model ICollection<ASM.Models.Book>
    @if (User.Identity.IsAuthenticated && !User.IsInRole("Customer"))
    {
<style>
    .img li {
        position: absolute;
        list-style: none;
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 50%;
        transition: 0.5s;
        cursor: pointer;
        border: solid black 2px;
    }

        .img li:hover {
            background: #86ff3b;
            box-shadow: 0 0 0 4px #333, 0 0 0 6px #86ff3b
        }

        .img li img {
            width: 1500%;
            visibility: hidden;
            background: rgba(44, 181, 137, 0.3);
            margin-left: 100px;
            transform: translateX(-170%) translateY(-70%);
        }

        .img li:hover img {
            visibility: visible;
            opacity: 1;
        }
</style>

<div class="container col-md-8 text-center mt-3">
    <h1 class="text text-danger">Book List</h1>
    <h4 class="text text-info">Total books: @ViewBag.Total</h4>
    <form method="post" asp-controller="Book" asp-action="Search" class="form-inline">
            <input type="search" name="keyword" class="search_bar" placeholder="Search A Book" style="transform: translateX(200%) translateY(100%)" />
    </form>
    @if (User.Identity.IsAuthenticated && !User.IsInRole("Customer"))
    {
        <a class="btn btn-primary" asp-action="Create">Create</a>
    }
    <br />
    <a class="btn btn-secondary" asp-action="SortNameAsc"><i class="fa fa-sort-asc" aria-hidden="true"></i></a>
    <br />
    <a class="btn btn-secondary" asp-action="SortNameDesc"><i class="fa fa-sort-desc" aria-hidden="true"></i></a>
    <br /><br /><br />
    @if (TempData["Message"] != null)
    {
        <h5 class="alert alert-info"> @TempData["Message"] </h5>
    }
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"> </th>
                <th scope="col">ISBN</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <ul class="img">
                            <li><img src="@item.Image" /></li>
                        </ul>
                    </td>
                    <td>@item.ISBN</td>
                    <td>@item.Title</td>
                    <td>@item.Author</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Detail" asp-route-id="@item.Id"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a class="btn btn-primary" asp-action="Order" asp-route-id="@item.Id"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Staff"))
                        {
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"
                       onclick="return confirm('Are you sure you want to delete this book?');">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}
else{
    <h1>You do not have permission or login before accessing this page.</h1>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to home page</a>
}